@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-top: 50px;

  &__title {
    font-size: $title-size;
    line-height: 112%;
    letter-spacing: 0.02em;
    font-weight: $bold-text;
    margin: 0 auto;
  }

  &__subtitle {
    max-inline-size: 310px;
    margin: 0 auto;
  }

  &__btn {
    inline-size: 114px;
    block-size: 33px;
    border-radius: 10px;
    padding: 5px 20px;
    color: $second-color;
    letter-spacing: -0.01em;
    background-color: $main-color;
    transition: 250ms;
  }

  &__btn:hover {
    color: $main-color;
    background-color: $additional-color;
  }

  &__btn:active {
    color: $second-color;
    background-color: #F8E6BE;
  }

  @include respond-to(tablet) {
    &__title {
      font-size: $title-size-tablet;
    }

    &__btn {
      inline-size: 125px;
    }
  }

  @include respond-to(desktop) {
    gap: 50px;
    margin-top: 119px;

    &__title {
      font-size: $title-size-desktop;
      line-height: 109%;
      padding: 0 55px;
    }

    &__subtitle {
      max-inline-size: 442px;
    }

    &__btn {
      inline-size: 118px;
      block-size: 34px;
      font-size: 17px;
    }
  }

  @include respond-to(wide) {
    &__title {
      max-inline-size: 768px;
    }

    &__subtitle {
      max-inline-size: 562px;
    }
  }
}
