$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1920px;

$main-font: "Roboto", sans-serif;
$main-color: white;
$second-color: #1b1f2b;
$additional-color: #efa501;
$regular-text: 400;
$bold-text: 700;

$title-size: 34px;
$title-size-tablet: 64px;
$title-size-desktop: 96px;
$subtitle-size: 16px;
$subtitle-size-tablet: 18px;
$subtitle-size-desktop: 20px;

$background-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%);
$background-path: "../images/background.jpg";
